.inventory-container {
	display: flex;
	flex-direction: column;
}

$pic-height: 50px;

.inventory-detail {
	font-family: sans-serif;
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	display: flex;
	margin-bottom: 15px;
	border-radius: 5px;
	box-shadow: 1px 2px 2px 1px #dfdede;
	padding: 20px;

	&:hover {
		box-shadow: 2px 2px 2px 2px #a398988a;
	}

	.pic {
		background-color: purple;
		height: $pic-height;
		width: $pic-height;
		border-radius: $pic-height;
		display: flex;
		justify-content: center;
		align-items: center;
		> .center-text {
			color: white;
			text-transform: capitalize;
			font-size: 40px;
			text-align: center;
		}
	}

	.description {
		padding-left: 15px;
		width: 90%;

		> .item-name {
			font-size: 20px;
			margin-bottom: 5px;
		}

		> .inline {
			display: inline;
			margin-right: 10px;
			color: gray;
		}
	}
}
