.loading {
    opacity: 0.3;
}

.finished {
    background-color: grey;
}

.text-field {
    width: 100px;
}

.check-today {
    background-color: yellowgreen;
}

.not-same-icon {
    height: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: orange;
}