body {
	font-family: sans-serif;
	margin: 0px;

	.link {
		text-decoration: none;
	}
}

.wrapper {
	.header {
		height: 50px;
		width: 100%;
	}

	.container {
		clear: both;
		
		.aside-1 {
			float: left;
			width: 24.5%;
			height: 600px;
		}

		.main {
			display: inline-block;
			width: 50%;
			height: 600px;
			overflow: hidden;
			border: 1px solid blue;

			&:after {
				overflow: none;
			}
		}

		.aside-2 {
			float: right;
			width: 25%;
			height: 600px;
			display: static;
		}
	}

	.footer {
		background-color: peru;
		text-align: center;
		height: 50px;
	}
}
