body {
	font-family: sans-serif;
	margin: 0px;
	overflow: hidden;

	.link {
		text-decoration: none;
	}
}

.h1 {
	text-align: center;
	font-size: 35px;
	padding: 20px 0px;
}

.wrapper {
	.header {
		height: 50px;
		width: 100%;
	}

	.container {
		clear: both;
		top: 50px;
		$content-height: 825px;

		.aside-1 {
			float: left;
			width: 25%;
			height: $content-height;
		}

		.main-scrollable {
			overflow-y: auto;
			width: 75%;
			height: $content-height;

			.main {
				display: inline-block;
				width: 66%;
				height: $content-height - 2px;
				border: 1px solid blue;
			}

			.aside-2 {
				float: right;
				width: 33%;
				height: $content-height;
				display: static;
			}
		}
	}

	.footer {
		background-color: peru;
		text-align: center;
		height: 50px;
	}
}
