$width-toggled: 80px;
$sidebar-open-width: 200px;
$height-menu-item: 40px;
$padding-menu-item: 20px;
$menu-item-width: ($sidebar-open-width)-$padding-menu-item;
$menu-not-active: rgb(128, 127, 127);
$menu-item-active-border-size: 5px;

.sidebar {
	width: $sidebar-open-width;
	background: rgb(78, 65, 65);
	height: inherit;

	&.sidebar-close {
		width: $width-toggled;
	}

	.menu-item {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: $padding-menu-item;

		%menu-icon-common {
			height: $height-menu-item;
			width: $height-menu-item;
			border-radius: $height-menu-item/4;
		}

		&.main-item:hover {
			border-left: $menu-item-active-border-size solid yellowgreen;
			padding-left: ($padding-menu-item)-$menu-item-active-border-size;

			.link {
				.menu-icon {
					@extend %menu-icon-common;
					background-color: yellowgreen;
				}

				.menu-name {
					color: white;
				}
			}
		}

		.menu-icon {
			@extend %menu-icon-common;
			background-color: $menu-not-active;
		}

		.menu-name {
			margin-left: 10px;
		}

		.link {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $menu-not-active;
		}

		%bar-common {
			width: $height-menu-item;
			height: 5px;
			border-radius: 2px;
			background-color: white;
			margin: 6px 0;
			transition: 0.4s;
		}

		.cross {
			height: $height-menu-item;
			padding-right: $padding-menu-item;

			.hamburger-icon-container {
				cursor: pointer;
				float: right;

				.bar1 {
					@extend %bar-common;

					&.change {
						-webkit-transform: rotate(-45deg) translate(-9px, 6px);
						transform: rotate(-45deg) translate(-9px, 6px);
					}
				}

				.bar2 {
					@extend %bar-common;

					&.change {
						opacity: 0;
					}
				}
				.bar3 {
					@extend %bar-common;

					&.change {
						-webkit-transform: rotate(45deg) translate(-8px, -8px);
						transform: rotate(45deg) translate(-8px, -8px);
					}
				}
			}
		}
	}
}
